<%- include('../partials/template') %>
    <h1>Enter a New Driver</h1>
        <form id = "driverNew" action="/drivers" method="POST">
            <div>
            <label>Drivers First Name</label>
                <input type = "text" name = "driverFirst">
            </div>
            <div>
                <label>Drivers Last Name</label>
                    <input type = "text" name = "driverLast">
                </div>
            <div> 
        <label>D.O.B.</label>
        <input  type = "date" type = "datetime-local" name = "born">
            </div>
            <div> 
        <label>TX DL.#</label>
                <input type = "number" name = "DLNum">
            </div>
            <div> 
        <label>TX DL. Exp. Date</label>
                <input type = "date" type = "datetime-local" name = "DLExpDate">
            </div>
            <div> 
        <label>ATX Chauffeur Permit #</label>
                <input type = "number" name = "permitNum">
            </div>
            <div> 
        <label>Permit Exp. Date</label>
                <input type = "date" type = "datetime-local" name = "permitExpDate">
            </div>
            <br>
            <div>
                <input id = "btnDriverAdd" type = "submit" value = "Add Driver">
            </div>
    </form> 
    <%- include('../partials/footer') %>

