</main>
</body>

</html>
<footer>
<p >Disclamer: Use pedicabs at your own risk! Bedicabbers are homeless people that build their rigs in a garage out of street signs. They take jobs away from reindeer and huskies. They don't go to gym or to work for that matter, don't shower and they all look the same.</p>
<p >@ Copyright NOT!</p>
</footer>