<%- include('./partials/template') %>
  <body>
    <h1><%= title %></h1>
      <h3>Welcome to <%= title %></h3>
        <div id = "indexImgs">
          <div id = "about">
            <img id = "pedicabImg1" src = "https://imgur.com/jJ6scTd.jpg" alt = "Pedicab Img">
            <h2>About</h2>
          </div>
          <div id = "become">
            <img id = "pedicabImg2" src = "https://imgur.com/jJ6scTd.jpg" alt = "Pedicab Img">
            <h2>Become a Driver</h2>
          </div>
        </div>
  </body>
</html>
<%- include('./partials/footer') %>
