<%- include('../partials/template') %>
    <h1>Enter a New Cab</h1>
    <form id = "cabNew" action="/cabs" method="POST">
        <label>Make</label>
            <div>
            <select name = "make">
                <option value = "Main Street">Main Street</option>
                <option value = "Cycles Maximus">Cycles Maximus</option>
                <option value = "Precision">Precision</option>
                <option value = "Coaster">Coaster</option>
                <option value = "Pedelec">Pedelec</option>
                <option value = "Some China Cab">Some China Cab</option>
                </select>
            </div>
        <label>Model</label>
            <div>
            <select name = "model">
                <option value = "Classic">Classic</option>
                <option value = "Broadway">Broadway</option>
                <option value = "Boardwalk">Boardwalk</option>
                <option value = "Cargo">Cargo</option>
                <option value = "Custom">Custom</option>
                </select>
            </div>
        <label>Year</label>
            <div> 
                <input type = "number" name = "year">
            </div>
        <label>Frame Type</label>
            <div> 
                <input type = "text" name = "frameType">
            </div>
        <label>Capacity</label>
            <div> 
                <input type = "number" name = "capacity">
            </div>
        <label>Serial Number</label>
            <div> 
                <input type = "text" name = "serialNum">
            </div>
        <label>E-Assist</label>
            <div>
            <select name = "eAssist">
                <option value = "true">YES</option>
                <option value = "false">NO</option>
            </select>
            </div>
        <label>Canopy</label>
            <div>
            <select name = "canopy">
                <option value = "true">YES</option>
                <option value = "false">NO</option>
            </select>
            </div>
        <label>Rented</label>
            <div>
            <select name = "rented">
                <option value = "true">YES</option>
                <option value = "false">NO</option>
            </select>
            </div>
        <label>Drivers First Name</label>
            <div> 
                <input type = "text" name = "driverFirst">
            </div>
        <label>Drivers Last Name</label>
            <div> 
                <input type = "text" name = "driverLast">
            </div>
            <br>
            <div>
                <input id = "btnCabAdd" type = "submit" value = "Add Cab">
            </div>
    </form> 
    <%- include('../partials/footer') %>


    
            
    
